<div class="container">
  <div class="row justify-content-center">
    <h2 class="text-center h4">Data</h2>
    <div class="justify-content-center">
      <form name="f" [formGroup]="movieForm" class="form">
        <span>Movie Name </span
        ><input
          type="text"
          id="search"
          placeholder="Search"
          formControlName="searchText"
        />
        <button (click)="searchapi()" class="next square" name="button">
          Search
        </button>
      </form>
    </div>
    <br />
    <span *ngIf="resmovie?.results?.length == 0">No record found.</span>
    <br />
    <table
      class="table table-bordered table-striped"
      *ngIf="resmovie?.results?.length > 0"
    >
      <thead>
        <th>Page</th>
        <th>Id</th>
        <th>Title</th>
        <th>Image</th>
        <th>Release date</th>
      </thead>

      <tbody>
        <tr *ngFor="let result of resmovie?.results">
          <td>{{ result.page }}</td>
          <td>{{ result.id }}</td>
          <td>
            <a (click)="getMovieDetails(result.title)">{{ result.title }}</a>
          </td>
          <td>
            <img
              style="height: 100px; width: 100px"
              src="https://www.themoviedb.org/t/p/w1280{{ result.poster_path }}"
            />
          </td>
          <td>{{ result.release_date }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
